﻿@model IEnumerable<education.Models.menu>
@using education.Helper
<ul class="nav navbar-nav navbar-right">
    @foreach (var item in Model)
    {

    <li class=@Html.MenuItem(item.link)>
        <a href="/@item.link"><i class="fa @item.note"></i><br>@item.title</a>
    </li>

    }
</ul>