﻿@model education.Models.content

@{
    ViewBag.Title = "Edit About";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .controls textarea {
        width: 80%;
        height: 70px;
    }
</style>

<script src="~/Scripts/ckfinder/ckfinder.js"></script>
<script src="~/Scripts/ckeditor/ckeditor.js" type="text/javascript"></script>
<script type="text/javascript">
    function BrowseServer() {
        var finder = new CKFinder();
        finder.selectActionFunction = SetFileField;
        finder.popup();
    }
</script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<div class="module">
    <div class="module-head">
        <h3>Edit About</h3>
    </div>
@using (Html.BeginForm("About_Edit", "Admin", FormMethod.Post, new { @class = "form-horizontal row-fluid" }))
{
    <div class="module-body">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.title)
        <div class="control-group">
            <label class="control-label" for="basicinput">IntroText</label>
            <div class="controls">
                @Html.TextAreaFor(model => model.introtext)
                @Html.ValidationMessageFor(model => model.introtext)
                <span class="help-inline">Minimum 10 Characters</span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="basicinput">FullText</label>
            <div class="controls">
                @Html.TextAreaFor(model => model.fulltext, new { @id = "ckeContent" })
                <script type="text/javascript">
                    CKEDITOR.replace("ckeContent");
                </script>

                @Html.ValidationMessageFor(model => model.fulltext)
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn" style="text-align:left">Save</button>
            </div>
        </div>
      </div>
    }
</div>


