﻿@model IEnumerable<education.Models.user>

@{
    ViewBag.Title = "ListUser";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script>
    function OnDeleteClick(e) {

        var flag = confirm('You are about to delete user ID ' + e + ' permanently.Are you sure you want to delete this record?');

        if (flag) {

            $.ajax({

                url: '/Admin/DeleteUser',

                type: 'POST',

                data: { id: e },

                dataType: 'json',

                success: function (result) {
                    alert(result);
                    $("#" + e).parent().parent().remove();
                },

                error: function () { alert('Error!'); }

            });

        }

        return false;

    }
</script>
<div class="module">
    <div class="module-head">
        <h3>Quản lý user</h3>
    </div>
    <div class="module-body">

        <p>
            <strong>Thêm user</strong>
        </p>
        <div class="controls">
            <button type="button" class="btn" onclick="window.location.href = '/admin/usermanager/create'">New</button>
            <!--<button type='submit' name='btn1' class="btn">Edit</button>
            <button type='submit' name='btn2' class="btn" onclick="return DelProduct();">Delete</button>-->
            <br />
            <br />
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Password</th>
                        <th>Address</th>
                        <th width="15%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model)
                    {
                        <tr>
                            <td> @row.fullname</td>
                            <td> @row.password</td>
                            <td> @row.address</td>
                            <td>
                                <button type="button" class="btn" onclick="window.location.href = '/admin/usermanager/edit/@row.id'">Edit</button>
                                <button type="button" class="btn" onclick="return OnDeleteClick(@row.id);" id="@row.id">Delete</button>

                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

