﻿@model IEnumerable<education.Models.category>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Category";
}

<script>
    function OnDeleteClick(e)
 
    {
 
        var flag = confirm('You are about to delete Category ID ' + e + ' permanently.Are you sure you want to delete this record?');
 
        if (flag) {
 
            $.ajax({
 
                url: '/News/DeleteCategory',
 
                type: 'POST',
 
                data: { id: e },
 
                dataType: 'json',
 
                success: function (result) { alert(result); 
                    $("#" + e).parent().parent().remove(); },
 
                error: function () { alert('Error!'); }
 
            });
 
        }
 
        return false;
 
    }
</script>
<div class="module">
    <div class="module-head">
        <h3>Quản lý thể loại</h3>
    </div>
    <div class="module-body">

        <p>
            <strong>Thêm thể loại</strong>
        </p>
        <div class="controls">
            <button type="button" class="btn" onclick="window.location.href = '/Admin/Category/Create'">New</button>
            <!--<button type='submit' name='btn1' class="btn">Edit</button>
            <button type='submit' name='btn2' class="btn" onclick="return DelProduct();">Delete</button>-->
            <br />
            <br />
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Note</th>
                        <th width="15%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model)
                    {
                        <tr>
                            <td> @row.title</td>
                            <td> <div style="white-space: nowrap; width: 18em; overflow: hidden;text-overflow: ellipsis;">@row.note</div></td>
                            <td>
                                <button type="button" class="btn" onclick="window.location.href = '/Admin/Category/Edit/@row.id'">Edit</button>
                                <button type="button" class="btn" onclick="return OnDeleteClick(@row.id);" id="@row.id">Delete</button>

                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

