﻿<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">
    <link rel="stylesheet" href="~/assets/admin/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/admin/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="~/assets/admin/images/icons/css/font-awesome.css">
    <link rel="stylesheet" href="~/assets/admin/css/theme.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'
          rel='stylesheet'>
    <link type="text/css" href="css/jquery-ui.css" rel="stylesheet">
    <script src="~/scripts/jquery-ui.js" type="text/javascript"></script>
    <script src="~/scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="~/scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
    <style>
        .file-upload input[name="fileUpload"] {
        }
    </style>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <i class="icon-reorder shaded"></i>
                </a><a class="brand" href="/admin">Administrator </a>
                <div class="nav-collapse collapse navbar-inverse-collapse">
                    <form class="navbar-search pull-left input-append" action="/home" target="_blank">
                        <button class="btn" type="submit">
                            <i class="icon-search">Visit your site</i>
                        </button>
                    </form>
                    <ul class="nav pull-right">
                        <!--<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Dropdown
                                <b class="caret"></b>
                            </a>
                            ul class="dropdown-menu">
                                <li><a href="#">Item No. 1</a></li>
                                <li><a href="#">Don't Click</a></li>
                                <li class="divider"></li>
                                <li class="nav-header">Example Header</li>
                                <li><a href="#">A Separated link</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Support </a></li>-->
                        <li class="nav-user dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/content/images/user.png" class="nav-avatar" />
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Your Profile</a></li>
                                <li><a href="#">Edit Profile</a></li>
                                <li><a href="#">Account Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("LogOff","Admin")">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.nav-collapse -->
            </div>
        </div>
        <!-- /navbar-inner -->
    </div>
    <!-- /navbar -->
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <div class="sidebar">                        <!--/.widget-nav-->
                        <ul class="widget widget-menu unstyled">
                            <li><a href="/admin/category"><i class="menu-icon icon-book"></i> Categories </a></li>
                            <li><a href="/admin/news"><i class="menu-icon icon-paste"></i> News </a></li>
                        </ul>
                        <ul class="widget widget-menu unstyled">
                            <li><a href="/admin/service"><i class="menu-icon icon-bullhorn"></i> Service</a></li>
                            <li><a href="/admin/service"><i class="menu-icon icon-table"></i> Service </a></li>
                        </ul>
                        <ul class="widget widget-menu unstyled">
                            <li><a href="/admin/about"><i class="menu-icon icon-bullhorn"></i> About </a></li>
                        </ul>
                        <ul class="widget widget-menu unstyled">
                            @if (Request.IsAuthenticated && User.IsInRole("SuperAdmin"))
                            {
                                <li class="active">
                                    <a href="/admin/usermanager">
                                        <i class="menu-icon icon-dashboard"></i>User Mananger
                                    </a>
                                </li>
                            }
                            <li>
                                <a class="collapsed" data-toggle="collapse" href="#togglePages">
                                    <i class="menu-icon icon-user"></i>
                                    <i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right"></i>Profile 
                                </a>
                                <ul id="togglePages" class="collapse unstyled">
                                    <li><a href="/admin/changepass"><i class="menu-icon icon-inbox" ></i>Change Password</a></li>
                                    <li><a href="/admin/userinfo"><i class="menu-icon icon-user"></i>User Information</a></li>
                                </ul>
                            </li>
                            <li><a href="@Url.Action("LogOff","Admin")"><i class="menu-icon icon-signout"></i>Logout </a></li>
                        </ul>
                    </div>
                    <!--/.sidebar-->
                </div>
                <!--/.span3-->
                <div class="span9">
                    <div class="content">
                        @RenderBody()
                    </div><!--/.content-->
                </div><!--/.span9-->
            </div>
        </div>
        <!--/.container-->
    </div>
    <!--/.wrapper-->
    <div class="footer">
        <div class="container">
            <b class="copyright">&copy; 2014 Design And Code By <a href="#">$$$</a></b> All rights reserved.
        </div>
    </div>
    <script src="~/scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="~/scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
    <script src="~/scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/scripts/flot/jquery.flot.js" type="text/javascript"></script>
    <script src="~/scripts/flot/jquery.flot.resize.js" type="text/javascript"></script>
    <script src="~/scripts/datatables/jquery.dataTables.js" type="text/javascript"></script>
    <script src="~/scripts/common.js" type="text/javascript"></script>


</body>

</html>
